{% extends "layout.html" %}
{% block content %}
    <div class="govuk-grid-row tfm">
      <div class="govuk-grid-column-full" style="margin: 10px;">
<p class="header-label">Add to an existing case</p>
      </div>
    </div>
    <div class="govuk-grid-row tfm">
      <div class="govuk-grid-column-full" style="margin: 10px;">
<table  class="govuk-table tfm tfm-width" style="margin:10px;">
<tbody class="govuk-table__body">
<tr class="govuk-table__row">
    <td class="govuk-table__cell"></td>
    <td class="govuk-table__cell"></td>
    <td class="govuk-table__cell"></td>
    <td class="govuk-table__cell"></td>
    <td class="govuk-table__cell"></td>
    <td class="govuk-table__cell"></td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell">0020010552</td>
    <td class="govuk-table__cell">Love to Learn Ltd</td>
    <td class="govuk-table__cell">Kingdom of Wakanda Colleg...</td>
    <td class="govuk-table__cell">Education</td>
    <td class="govuk-table__cell">LLoyds bank</td>
    <td class="govuk-table__cell">16 Dec 2019</td>
</tr>
</tbody>
</table>
</div>
</div>
    <div class="govuk-grid-row tfm tfm-width add-to-case">
      <div class="govuk-grid-column-full" style="margin: 10px;">
<h2>Select an existing case</h2>
<table class="govuk-table tfm tfm-width" style="margin:10px;">
         <tr class="govuk-table__row">
             <th class="govuk-table__cell">Case ref</th>
             <th class="govuk-table__cell">Type of work</th>
            <th class="govuk-table__cell">Exporter</th>
            <th class="govuk-table__cell">Deal</th>
            <th class="govuk-table__cell">Buyer</th>
            <th class="govuk-table__cell">Bank</th>
         </tr>
         <tr class="govuk-table__row">
            <td>
                <input type="radio" id='regular' name="optradio"><a href="#">C0198</a>
            </td>
            <td>
                <span class="label--graygreen">MIA</span>
            </td>
            <td>Love to Learn Ltd</td>
            <td>0020010012</td>
            <td>Republic of Asgard</td>
            <td>Royal Bank of Scotland</td>
         </tr>
        <tr>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell">0020010013</td>
            <td class="govuk-table__cell">Folding Circle</td>
            <td class="govuk-table__cell">Royal Bank of Scotland</td>
         </tr>
         <tr>
             <td>
                <input type="radio" id='regular' name="optradio"><a href="#">C0234</a>
             </td>
             <td>
                <span class="label--graygreen">MIA</span>
             </td>
            <td>Love to Learn Ltd</td>
            <td>0020010415</td>
            <td>Beyond Corporation</td>
            <td>HSBC</td>
         </tr>
</table>
</div>
</div>
    <div class="govuk-grid-row tfm tfm-width">
      <div class="govuk-grid-column-one-third flex-container" style="margin: 10px;">
        <a class="govuk-button" data-module="govuk-button" href="/inbox">Confirm and continue</a>
        <a href="/inbox" style="margin: 10px;">Cancel</a>
      </div>
    </div>
{% endblock%}