{% extends "layout.html" %}
{% block content %}
<p class="header-label">Create a case</p>
<p>Confirm you want to create a new case for the following manual inclusion application.</p>
<div>
<table  class="govuk-table tfm tfm-width" style="margin:10px;">
<tbody class="govuk-table__body">
<tr class="govuk-table__row">
    <td class="govuk-table__cell"></td>
    <td class="govuk-table__cell"></td>
    <td class="govuk-table__cell"></td>
    <td class="govuk-table__cell"></td>
    <td class="govuk-table__cell"></td>
    <td class="govuk-table__cell"></td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell">0020010552</td>
    <td class="govuk-table__cell">Love to Learn Ltd</td>
    <td class="govuk-table__cell">Kingdom of Wakanda Colleg...</td>
    <td class="govuk-table__cell">Education</td>
    <td class="govuk-table__cell">LLoyds bank</td>
    <td class="govuk-table__cell">16 Dec 2019</td>
</tr>
</tbody>
</table>
</div>
    <div class="govuk-grid-row tfm tfm-width">
      <div class="govuk-grid-column-one-third flex-container" style="margin: 10px;">
        <a class="govuk-button" data-module="govuk-button" href="/inbox">Confirm and continue</a>
        <a href="/inbox" style="margin: 10px;">Cancel</a>
      </div>
    </div>
{% endblock%}