{% extends 'layout.html' %}
{% block beforeContent %}
<div style="margin:10px;">

{{ govukBreadcrumbs({
  items: [
    {
      text: "C0345",
      href: "/cases/tasks"
    },
    {
      text: "exposure",
      href: "/cases/exposure"
    },
    {
      text: "pricing check"
    }
  ]
}) }}
</div>

{% endblock %}
{% block content %}
    
    {% from "govuk/components/radios/macro.njk" import govukRadios %}
<div style="margin-left:10px;">
{{ govukRadios({
  idPrefix: "confirm-exposure-level-acceptance",
  name: "confirm-exposure-level-acceptance",
  fieldset: {
    legend: {
      text: "Are yoyu happy with the level of exposure this case will add?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "good",
      text: "Good (BB-)"
    },
    {
      value: "acceptable",
      text: "Acceptable (B+)"
    },
    {
      value: "decline",
      text: "decline"
    }
  ]
}) }}
</div>
<div class="moj-button-menu" style="margin-left:10px;">
    <div class="moj-button-menu__wrapper">
        <a href="/cases/exposure" role="button" draggable="false" class="govuk-button moj-button-menu__item  " data-module="govuk-button">
        Save
        </a>
        <a href="/cases/exposure" role="link" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary " data-module="govuk-button">
        Cancel
        </a>
    </div>
</div> 
{% endblock %}