{% extends 'layout.html' %}
{% block beforeContent %}
<div style="margin:10px;">

{{ govukBreadcrumbs({
  items: [
    {
      text: "C0345",
      href: "tasks"
    },
    {
      text: "pricing",
      href: "/cases/pricing"
    },
    {
      text: "credit rating"
    }
  ]
}) }}
</div>

{% endblock %}
{% block content %}
  <div class="govuk-grid-row tfm tfm-width">
      <div class="govuk-grid-column-half" style="margin: 20px;">
{% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
        idPrefix: "changed-name",
        name: "changed-name",
        fieldset: {
            legend: {
            text: "Select credit rating for this case",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
            }
        },
        items: [
            {
            value: "good",
            text: "Good (BB-)"
            },
            {
            value: "acceptable",
            text: "Acceptable (B+)"
            },
            {
            value: "other",
            text: "Other"
            }
        ]
        }) }}
      </div>
  </div>
    <div class="govuk-grid-row tfm tfm-width">
      <div class="govuk-grid-column-one-quarter flex-container" style="margin: 10px;">
        <button class="govuk-button" data-module="govuk-button" href="/cases/pricing">Save</button>
        <a href="/cases/pricing" style="margin: 10px;">Cancel</a>
      </div>
    </div>
{% endblock %}