{% extends 'layout.html' %}
{% block beforeContent %}
<div class="govuk-grid-row tfm tfm-width">
  <div class="govuk-grid-column-full">
    {{ govukBreadcrumbs({
      items: [
        {
          text: "C0345",
          href: "/cases/tasks"
        },
        {
          text: "pricing",
          href: "/cases/pricing"
        },
        {
          text: "credit rating"
        }
      ]
    }) }}
  </div>
</div>
{% endblock %}
{% block content %}
  <div class="govuk-grid-row tfm tfm-width">
      <div class="govuk-grid-column-full">
        {{ govukRadios({
        idPrefix: "changed-name",
        name: "changed-name",
        fieldset: {
            legend: {
            text: "Select credit rating for this case",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
            }
        },
        items: [
            {
            value: "good",
            text: "Good (BB-)"
            },
            {
            value: "acceptable",
            text: "Acceptable (B+)"
            },
            {
            value: "other",
            text: "Other"
            }
        ]
        }) }}
      </div>
  </div>
    <div class="govuk-grid-row tfm tfm-width">
      <div class="govuk-grid-column-one-quarter flex-container">
        <a class="govuk-button" data-module="govuk-button" href="/cases/pricing">Save</a>
        <a href="/cases/pricing" class="cancel-link">Cancel</a>
      </div>
    </div>
{% endblock %}