{% extends "layout.html" %}
{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
{{ govukBreadcrumbs({
  items: [
    {
      text: "C0345",
      href: "/cases/tasks"
    },
    {
      text: "pricing",
      href: "/cases/Pricing"
    },
    {
      text: "Interest margin"
    }
  ]
}) }}
</div>
</div>
{% endblock %}
{% block content %}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/radios/macro.njk" import govukRadios -%}
{%- from "govuk/components/date-input/macro.njk" import govukDateInput -%}
{%- from "govuk/components/button/macro.njk" import govukButton -%}



<form name="interest-margin-form" method="post" action="/cases/pricing" onsubmit="return validateForm('interest-margin-form','interest-margin-amount')" class="form">
<div tabindex="-1" role="group" id="errorSummary" name="errorSummary" class="govuk-error-summary moj-hidden" aria-labelledby="error-summary-title" data-module="error-summary">
sdfsdfsfsdf
</div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-form-group tfm">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            What interest margin is the bank charging?
          </h1>
        </legend>
        <div class="flex-container" id="interest-margin-div">
              <input class="govuk-input govuk-input--width-2" value="{{ data['interest-margin-amount'] }}" id="interest-margin-amount" name="interest-margin-amount" type="number" step="any" autocomplete="off" >
              
              <span class="percentage-field" id="interest-margin-percentage" name="interest-margin-percentage">%</span></input>
        </div>

      </div> 
    </div>
  </div>
  <div class="govuk-grid-row tfm tfm-width">
    <div class="govuk-grid-column-one-quarter flex-container">
      <button class="govuk-button" data-module="govuk-button" href="/cases/pricing">Save</button>
      <a href="/cases/pricing" class="cancel-link">Cancel</a>
    </div>
  </div>
</form>

{% endblock %}