{% extends "layout.html" %}
{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

  {{ govukBreadcrumbs({
    items: [
      {
        text: "C0345",
        href: "/cases/tasks"
      },
      {
        text: "pricing",
        href: "/cases/pricing"
      },
      {
        text: "loss given default"
      }
    ]
  }) }}
  </div>
</div>
{% endblock %}
{% block content %}
<form action="/cases/pricing" method="post" class="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-form-group tfm">
        <h1>What is the loss given default?</h1>
        <span class="moj-label__currency">%</span>
        <input class="govuk-input moj-input__currency govuk-input--width-5" value="{{ data['loss-given-default'] }}" id="loss-given-default" name="loss-given-default" type="text" autocomplete="off" pattern="[0-9]*" >
        </input>
      </div> 
    </div>
  </div>
  <div class="govuk-grid-row tfm tfm-width">
    <div class="govuk-grid-column-one-quarter flex-container">
      <button class="govuk-button" data-module="govuk-button">Save</button>
      <a href="/cases/pricing" class="cancel-link">Cancel</a>
    </div>
  </div>
</form>
{% endblock %}