{% extends "index.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions %}

{% import '_macros/success-message.njk' as success %}
{% import '_macros/dashboard-tabs.njk' as dashboardTabs %}
{% import '_macros/pagination.njk' as pagination %}
{% import './_macros/deal-filters.njk' as dashboardFilters %}

{% block pageTitle %}Deals{% endblock %}

{% block content %}

  {% if successMessage %}
    {{ success.message(
      message = successMessage
    )}}
  {% endif %}

  {{ mojPageHeaderActions({
    heading: {
      html: '<h1 class="govuk-heading-xl">Applications and notices</h1>'
    },
    items: user.roles.includes('maker') and [{
      text: 'Create new',
      attributes: {"data-cy":"CreateNewSubmission"},
      href: "/select-scheme"
    }]
  }) }}

  <div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">Contents</h2>

    {{ dashboardTabs.nav(selected = 'deals', id = id ) }}

    <section class="govuk-tabs__panel">

    {# {{ dashboardFilters.render(filter, user, banks) }} #}

      <table class="govuk-table govuk-!-margin-bottom-0">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Exporter</th>
            <th scope="col" class="govuk-table__header">Bank ref</th>
            <th scope="col" class="govuk-table__header">Product</th>
            <th scope="col" class="govuk-table__header">Type</th>
            <th scope="col" class="govuk-table__header">Status</th>
            <th scope="col" class="govuk-table__header">Last updated</th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">

          {% for deal in deals %}
            <tr data-cy="deal_{{ deal._id }}" class="govuk-table__row govuk-body-s">
              <td data-cy="deal--exporter" class="govuk-table__cell">
                {{ deal.exporter }}
              </td>

              <td data-cy="deal--bankRef" class="govuk-table__cell">
                {% set path = '/gef/application-details/' if deal.product === "GEF" else "/contract/" %}
                <a
                  href="{{ path }}{{ deal._id }}"
                  class="deal--link"
                  data-cy="bankSupplyContractIDLink"
                >
                  {{ deal.bankRef }}
                </a>
              </td>

              <td data-cy="deal--product" class="govuk-table__cell">
                {{ deal.product }}
              </td>

              <td data-cy="deal--type" class="govuk-table__cell">
                {{ deal.type or "-" }}
              </td>

              <td data-cy="deal--status" class="govuk-table__cell">
                {{ deal.status }}
              </td>

              <td data-cy="updated" class="govuk-table__cell">
                {{ deal.lastUpdate | localiseTimestamp("DD/MM/YYYY HH:mm", user.timezone) }}
              </td>

            </tr>
          {% endfor %}

        </tbody>

      </table>

      {{ pagination.pagination(totalPages = pages.totalPages, currentPage = pages.currentPage, totalItems = pages.totalItems, paginationRoot = '/dashboard') }}

    </section>

  </div>

{% endblock %}
