{%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "cases/case.html" %}
{% block sub_content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters tfm">  
      <p class="header-label">Credit analysis</p>
    </div>
    <div class="govuk-grid-column-one-quarter tfm">  

      {{ govukButton({
        text: "Submit for Approval",
        href: "/cases/credit-analysis/approval"
      }) }}
    </div>
    
  </div>
  <div class="govuk-grid-row">

  <div class="govuk-grid-column-one-quarter tfm">

  {{ mojSideNavigation({
    label: 'Side navigation',
    sections: [
      {
        heading: {
          text: 'Section 1'
        },
        items: [{
          text: 'About the export',
          href: '#export',
          active: true
        }, {
          text: 'Bank relationship',
          href: '#bank-relationship'
        }, {
          text: 'Existing facilities',
          href: '#existing-facilities'
        }]
      },
      {
        heading: {
          text: 'Business risk'
        },
        items: [{
          text: 'Company background',
          href: '#company-background'
        }, {
          text: 'Business risk factors',
          href: '#business-risk-factors'
        }]
      },
      {
        heading: {
          text: 'Financial risk'
        },
        items: [{
          text: 'Company backgrounds',
          href: '#company-backgrounds'
        }, {
          text: 'Financial year based on',
          href: '#financial-year'
        }, {
          text: 'EBITDA',
          href: '#ebitda'
        }, {
          text: 'Cash balance',
          href: '#cash-balance'
        }, {
          text: 'Debt',
          href: '#debt'
        }, {
          text: 'Forecast',
          href: '#forecast'
        }, {
          text: 'Short-term liquidity',
          href: '#short-term-liquidity'
        }]
      },
      {
        heading: {
          text: 'Conclusions'
        },
        items: [{
          text: 'Supporting factors and recommendations',
          href: '#supporting-factors'
        }, {
          text: 'Key risks',
          href: '#key-risks'
        }]
      }
    ]
  }) }}

  </div>


    <div class="govuk-grid-column-three-quarters">
    {%- from "moj/components/task-list/macro.njk" import mojTaskList -%}

{{ mojTaskList({
sections: [
      {
        heading: {
          text: 'About the export and relationship with the bank'
        },
        items: [{
          text: 'Enter information about the export',
          href: 'credit-analysis/export',
          active: true
        }, {
          text: 'Enter the exporter`s relationship with the bank',
          href: 'credit-analysis/bank-relationship'
        }, {
          text: 'Enter the exporter`s exsting facilities with banks and other organisations',
          href: 'credit-analysis/existing-facility'
        }]
      },
      {
        heading: {
          text: 'Business risk'
        },
        items: [{
          text: 'Enter company background',
          href: 'credit-analysis/company-background'
        }, {
          text: 'Enter business risk factors',
          href: 'credit-analysis/business-risk-factors'
        }]
      },
      {
        heading: {
          text: 'Financial risk'
        },
        items: [{
          text: 'Add company accounts',
          href: 'credit-analysis/company-accounts'
        }, {
          text: 'Enter financial this credit analysis is based on',
          href: 'credit-analysis/financial-year'
        }, {
          text: 'Enter information about the EBITDA levels',
          href: 'credit-analysis/ebitda'
        }, {
          text: 'Enter information abouth the cash balance',
          href: 'credit-analysis/cash-balance'
        }, {
          text: 'Enter debts',
          href: 'credit-analysis/debts'
        }, {
          text: 'Enter information about the forecast',
          href: 'credit-analysis/forecast'
        }, {
          text: 'Enter information abouth short-term liquidity',
          href: 'credit-analysis/short-term-liquidity'
        }]
      },
      {
        heading: {
          text: 'Conclusions'
        },
        items: [{
          text: 'Enter supporting factors and recommendations',
          href: 'credit-analysis/supporting-factors'
        }, {
          text: 'Enter key risks',
          href: 'credit-analysis/key-risks'
        }]
      }
    ]
}) }} 
    </div>
  </div>

{% endblock %}